.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .dialog {

}

.dialogItems .active {
    color: slategray;
}

.messageItems {
    padding: 10px;
}

.messageItems .message {

}