.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .dialog {

}

.dialog a {
    color: black;
    text-decoration: none;
}

.dialog a.active {
    color: slategray;
}

.messageItems {
    padding: 10px;
}

.messageItems .message {

}