.header {
    grid-area: h;
    background-color: silver;
}

.header img {
    width: 50px;
    margin: 5px 5px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: black;
    margin: 20px 20px 20px 20px;
}

.error {
    color: red;
    padding: 10px;
}