.header {
  display: flex;
  flex-direction: row;
  background-color: silver;
  align-items: center;
}

.appName {
  flex: 1;
}

.loginBlock {

}

.loginBlock a {
  color: black;
  margin: 20px 20px 20px 20px;
}
