.formControl.error {
  input,
  textarea {
    border: solid red 2px;
  }
}

.formControl {
  &__errorMessage {
    color: red;
  }
}

.formSummaryError {
  border: red 1px solid;
  padding: 5px;
  color: red;
}
