.app {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.app-content {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 'n c';
}

.app-content-page {
  grid-area: c;
  background-color: lightgray;
}
